{%macro underline(headline, char = "-")-%}
{%for i in range(headline|length)%}{{char}}{%endfor%}
{%-endmacro%}

{{document.title}}
{{underline(document.title, "=")}}

Authors:
{%for author in document.authors%}
  * `{{author.name}} <{{author.email}}>`_ 
{%-endfor%}

{%for title, section in document.sections.items()%}
{{title}}
{{underline(title)}}

{{section}}
{%endfor%}
