{# templator/macro/tree.j2 #}
{# Jinja2 tree traversing macros Can be used only with tree command #}

{% macro link_rel(node, type, text) %}
    {% set node_attr = '__' ~ type %}
    {% if not node_attr in node or not node[node_attr] %}
        {{text}}
    {% else %}
        <a href="{{ node[node_attr]|relpath(node, 'html') }}">
        {% if not text %}
        {{node[node_attr]['__key']}}
        {% else %}
        {{ text }}
        {% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% macro toc(context, node, title='__key', extension='html', leaves=True) %}
    <ol>
        {{ _toc_entry(context, node, title, extension, leaves) }}
    </ol>
{% endmacro %}

{% macro _toc_entry(context, node, title, extension, leaves) %}
    {% if not context.__leaf or leaves %}
    {% set title_text = context[title] | default(context['title']) | default(context['_title']) | default(context['__key']) %}
    <li>
    {% if context is sameas node %}
        {{ title_text }}
    {% else %}
        <a href="{{ context|relpath(node, extension) }}">{{ title_text }}</a>
    {% endif %}
    {{ _toc_children(context, node, title, extension, leaves) }}
    </li>
    {% endif %}
{% endmacro %}

{% macro _toc_children(context, node, title, extension, leaves) %}
    {% if '__children' in context %}
        <ol>
            {% for child in context['__children'] %}
                {{ _toc_entry(child, node, title, extension, leaves) }}
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}
