{% from 'macro/tree.j2' import link_rel, toc %}
<!DOCTYPE html>
<html>
<head>
    <title>06 - Tree output</title>
    <style type="text/css">
        body {
            display: flex;
            flex-direction: row;
        }
        body > * {
            flex-grow: 3;
        }
        body > *:first-child {
            flex-grow: 1;
        }
        nav.breadcrumbs ol {
            margin: 0;
            padding: 0;
            display: inline;
        }
        nav.breadcrumbs li {
            display: inline;
            list-style: none;

        }
        nav.breadcrumbs li:before {
            content: '>';
        }
    </style>
</head>
<body>

    <!-- main navigation -->
    <nav class="toc">
        <h1>Table of contents</h1>
        {{ toc(context, node, title='title', extension=extension) }}
    </nav>

    <!-- content -->
    <article>

        <!-- breadcrumbs -->
        <nav class="breadcrumbs">
            Breadcrumbs
            <ol>
                {% for parent in node|curpath %}
                <li>
                    {% if parent is sameas node %}
                    {{ parent['__key'] }}
                    {% else %}
                    <a href="{{ parent|relpath(node, 'html') }}">{{ parent['__key'] }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </nav>

        <!-- content -->
        <h1>{{ node.__key }}</h1>

        <dl>
            <dt>Type</dt>
            <dd>{{ node.type|default('-') }}</dd>

            <dt>Path</dt>
            <dd>{{ node.__path }}</dd>

            <dt>Previous</dt>
            <dd>{{ link_rel(node, 'prev', 'Previous') }}</dd>

            <dt>Next</dt>
            <dd>{{ link_rel(node, 'next', 'Next') }}</dd>

            <dt>Parent</dt>
            <dd>{{ link_rel(node, 'parent') }}</dd>

            <dt>Children</dt>
            <dd>
                <ul>
                    {% for child in node['__children'] %}
                        <a href="{{child|relpath(node, 'html')}}">{{child['__key']}}</a>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </article>
</body>
</html>